; =====================================================
; ============ Sky.cfg: Weather Control  ==============
; =====================================================
add:
{
	"classname" "info_particle_system"
	"effect_name" "storm_cloud_lightning"
	"targetname" "sky_cloud_particles"
	"origin" "6336 6048 -5567"
}
{
	"classname" "info_particle_system"
	"effect_name" "storm_cloud_lightning"
	"start_active" "1"
	"targetname" "sky_cloud_particles"
	"origin" "6372 6189 -5567"
}
{
	"classname" "info_particle_system"
	"effect_name" "storm_cloud_lightning"
	"start_active" "1"
	"targetname" "sky_cloud_particles"
	"origin" "6512 6296 -5567"
}
{
	"classname" "info_particle_system"
	"effect_name" "storm_lightning_screenglow"
	"targetname" "sky_storm_lightning_screen"
	"origin" "5979 6296 -5604.49"
}
{
	"classname" "info_particle_system"
	"cpoint1" "sky_storm_target_01"
	"effect_name" "storm_lightning_02"
	"targetname" "sky_storm_lightning_01"
	"origin" "6010 6124 -5452"
}
{
	"classname" "info_particle_system"
	"cpoint1" "sky_storm_target_02"
	"effect_name" "storm_lightning_02"
	"targetname" "sky_storm_lightning_02"
	"origin" "6023 6038 -5420"
}
{
	"classname" "info_particle_system"
	"cpoint1" "sky_storm_target_03"
	"effect_name" "storm_lightning_02"
	"targetname" "sky_storm_lightning_03"
	"origin" "6068 6191 -5430"
}
{
	"classname" "info_particle_system"
	"cpoint1" "sky_storm_target_04"
	"effect_name" "storm_lightning_02"
	"targetname" "sky_storm_lightning_04"
	"origin" "6064 6362 -5457"
}
{
	"classname" "info_particle_target"
	"targetname" "sky_storm_target_01"
	"origin" "6023 6103 -5638"
}
{
	"classname" "info_particle_target"
	"targetname" "sky_storm_target_02"
	"origin" "6002 6016 -5638"
}
{
	"classname" "info_particle_target"
	"targetname" "sky_storm_target_03"
	"origin" "6049 6218 -5638"
}
{
	"classname" "info_particle_target"
	"targetname" "sky_storm_target_04"
	"origin" "6062 6312 -5638"
}
{
	"classname" "ambient_generic"
	"health" "7"
	"message" "ambient/weather/thunderstorm/lightning_strike_1.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "5555"
	"spawnflags" "49"
	"targetname" "sky_storm_sound_01"
	"origin" "6069 6352 -5598.49"
}
{
	"classname" "ambient_generic"
	"health" "7"
	"message" "ambient/weather/thunderstorm/lightning_strike_2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "5555"
	"spawnflags" "49"
	"targetname" "sky_storm_sound_02"
	"origin" "6069 6376 -5598.49"
}
{
	"classname" "ambient_generic"
	"health" "7"
	"message" "ambient/weather/thunderstorm/lightning_strike_3.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "5555"
	"spawnflags" "49"
	"targetname" "sky_storm_sound_03"
	"origin" "6069 6400 -5598.49"
}
{
	"classname" "ambient_generic"
	"health" "7"
	"message" "ambient/weather/thunderstorm/lightning_strike_4.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "5555"
	"spawnflags" "49"
	"targetname" "sky_storm_sound_04"
	"origin" "6069 6424 -5598.49"
}
{
	"classname" "logic_versus_random"
	"targetname" "sky_weather_case"
	"OnRandom02" "sky_storm_random_timer,Kill,,0,-1"
	"OnRandom01" "sky_storm_random_timer,Enable,,0,-1"
}
{
	"classname" "logic_timer"
	"targetname" "sky_storm_random_timer"
	"UseRandomTime" "1"
	"StartDisabled" "1"
	"spawnflags" "0"
	"LowerRandomBound" "5"
	"UpperRandomBound" "10"
	"OnTimer" "sky_storm_random_case,PickRandom,,0,-1"
	"OnTimer" "sky_storm_lightning_screen,Start,,0,-1"
	"OnTimer" "sky_storm_lightning_screen,Stop,,0.5,-1"
	"OnTimer" "sky_cloud_particles,Start,,0,1"
}
{
	"classname" "logic_case"
	"targetname" "sky_storm_random_case"
	"OnCase01" "sky_storm_lightning_01,Start,,0,-1"
	"OnCase01" "sky_storm_lightning_01,Stop,,1,-1"
	"OnCase01" "sky_storm_sound_01,PlaySound,,2.95,-1"
	"OnCase02" "sky_storm_sound_02,PlaySound,,3.15,-1"
	"OnCase02" "sky_storm_lightning_02,Stop,,1,-1"
	"OnCase02" "sky_storm_lightning_02,Start,,0,-1"
	"OnCase03" "sky_storm_sound_03,PlaySound,,2.85,-1"
	"OnCase03" "sky_storm_lightning_03,Stop,,1,-1"
	"OnCase03" "sky_storm_lightning_03,Start,,0,-1"
	"OnCase04" "sky_storm_sound_04,PlaySound,,3.1,-1"
	"OnCase04" "sky_storm_lightning_04,Stop,,1,-1"
	"OnCase04" "sky_storm_lightning_04,Start,,0,-1"
}
modify:
{
    match:
    {
        "targetname" "checkpoint_exit"
    }
    insert:
    {
		"OnOpen" "sky_weather_casePickRandom1-1"
	}
}


; =====================================================
; ===============  PILL CABINET TWEAK  ================
; =====================================================

; --- set pill cabs to have a max of 2 pills

modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "2"
	}
}


; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================

filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}

; =====================================================
; ============  END PILL/ITEM SPAWN REMOVAL ===========
; =====================================================

filter:
{
    "hammerid" "7540216"
}
{
    "hammerid" "6323987"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block climbing onto opposite building from saferoom door
{
    ; invisible block along roof edge
    "origin" "-4732 -3244 416"
    "mins" "-300 -420 -264"
    "maxs" "300 420 264"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block using electrical box with dumpster-push to get on roofs
{
    ; invisible block over electrical box
    "origin" "-4358 -726 158"
    "mins" "-6 -30 -130"
    "maxs" "6 30 130"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; =====================================================
; ===================  GLITCH FIX  ====================
; =====================================================

modify:
; --- move impossible to reach weapon_item_spawn under desk to the top of it
{
    match:
    {
        "hammerid" "7576321"
    }
    replace:
    {
        "origin" "-4992 -528 64"
    }
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================

add:
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "-1500 3310 298"
    "angles" "0 180 0"
    "model" "models/props/cs_militia/boxes_frontroom.mdl"
    "classname" "prop_dynamic"
}
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "-1340 3310 312"
    "angles" "0 184 0"
    "model" "models/props/de_prodigy/pushcart.mdl"
    "classname" "prop_dynamic"
}
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "-1340 3304 314"
    "angles" "0 135 0"
    "model" "models/props/cs_militia/boxes_garage_lower.mdl"
    "classname" "prop_dynamic"
}
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "-2149 3421 352"
    "angles" "0 0 0"
    "model" "models/props_unique/zombiebreakwallexteriorairport01_main.mdl"
    "classname" "prop_dynamic"
}
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-923 3418 360"
	"angles" "0 0 0"
	"model" "models/props_unique/zombiebreakwallexteriorairport01_main.mdl"
	"classname" "prop_dynamic"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_highway/scaffolding_96_railing.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-6002 -2289 133"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_highway/scaffolding_96_railing.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-6002 -2395 133"
}
{
	"classname" "prop_dynamic"
	"angles" "34.5 0 0"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_02.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-5920 -2251 114"
}
{
	"classname" "prop_dynamic_override"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_crates/supply_crate02.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-5917 -2238 76.744"
}
{
	"classname" "prop_dynamic_override"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_crates/supply_crate02.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-5917 -2220 76.744"
}

{
	"classname" "prop_dynamic"
	"angles" "0 270 -33"
	"disableshadows" "1"
	"model" "models/props_swamp/plank001b_192.mdl"
	"solid" "6"
	"origin" "-5850 -2226 68.7439"
}
{
	"classname" "prop_dynamic_override"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_crates/supply_crate01.mdl"
	"solid" "6"
	"origin" "-5910 -2232 90.744"
}
{
	"classname" "prop_dynamic_override"
	"angles" "0 270 90"
	"disableshadows" "1"
	"model" "models/props_crates/supply_crate01.mdl"
	"solid" "6"
	"origin" "-5931.26 -2232 98.4907"
}
{
	"classname" "prop_dynamic_override"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_crates/supply_crate02.mdl"
	"solid" "0"
	"origin" "-5957.63 -2233.92 127.744"
}
{
	"classname" "prop_dynamic_override"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_crates/supply_crate01.mdl"
	"solid" "0"
	"origin" "-5980.63 -2232.92 141.744"
}
{
	"classname" "prop_dynamic_override"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_crates/supply_crate02.mdl"
	"solid" "0"
	"origin" "-5974.63 -2233.92 127.744"
}
{
	"classname" "prop_dynamic_override"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_crates/supply_crate02.mdl"
	"solid" "0"
	"origin" "-5992.63 -2233.92 127.744"
}
